@use 'base/variables' as v;
@use 'base/mixins' as m;

.menu {
   @include m.lista;
   padding-top: 3rem;

   &__item {
      margin-bottom: .5rem;
   }

   &__enlace {
      color: darken(v.$blanco, 25%);
      font-weight: v.$medium;
      white-space: nowrap;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-bottom: 1.5rem;
      gap: 1rem;

      &:hover {
         cursor: pointer;
         color: v.$blanco;
      }
   }

   &__name {
      flex-grow: 1;
   }

   &__icon {
      &::after {
         content: "";
         width: .6rem;
         height: .6rem;
         border-bottom: 2px solid v.$blanco;
         border-right: 2px solid v.$blanco;
         rotate: -45grad;
         margin-right: .2rem;
      }
   }

   &__submenu {
      @include m.lista;
      padding-left: 2rem;
      display: none;
   }
   
   &__activo &__submenu {
      display: block;
   }

   &__activo &__icon {
      &::after {
         rotate: 50grad;
      }
   }
}