@use 'base/variables' as v;

.sidebar {
   background-color: darken(v.$azul, 15%);
   width: 25rem;
   padding: 2rem 1rem;

   &__logo {
      display: flex;
      align-items: center;
      color: v.$blanco;
      margin-bottom: 3rem;
   }

   &__icono {
      width: 3.5rem;
      min-width: 3.5rem;
      height: 3.5rem;
      min-height: 2.5rem;
      background-color: v.$aviso;
      border-radius: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2.5rem;
      font-weight: v.$bold;
      color: v.$blanco;
   }

   &__texto {
      font-size: 2rem;
      font-weight: v.$bold;
      padding-left: 1rem;
   }
}